html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans""Arial" sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 25.2px;
    color: #A9B0BE;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.top-header{
    padding: 10px 0 10px 0;
    background-color:#7CBA72;
    text-align: center;
}
.top-header-link{
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #0E1220
}
.top-header-arrow{
    margin-left: 10px;
    vertical-align: middle;
}
.sitenav{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 16px 120px;
}
.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item-link{
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 42px;
}
.sign-btn{
    padding: 10px 48px;
    border: 2px solid #40AB7E;
    box-sizing: border-box;
    border-radius: 30px;
    color: #40AB7E;
    margin-left: 26px;
}
.request-btn{
     padding: 10px 20px;
     background-color: #7CBA72;
     border-radius: 30px;
     font-weight: normal;
     font-size: 14px;
     line-height: 24px;
     text-align: center;
     color: #0E1220;
     margin-left: 14px;
}
.header-info{
    background-color: #000;
    position: relative;
    padding:40px 220px 10px;
    z-index: -4;
}
.header-title{
    margin: 0;
    font-weight: normal;
    font-size: 66px;
    line-height: 71px;
    text-align: center;
    color: #0E1220;
}
.header-text{
    font-weight: normal;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}
.info-btn{
    font-weight: normal;
    font-size: 21px;
    line-height: 20px;
    text-align: center;
    color: #0E1220;
    text-decoration: none;
    padding: 19px 34px 27px 34px;
    background: #7CBA72;
    border: 2px solid #0E1220;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #0E1220;
    border-radius: 60px;
}
.green{
    background-color: #40AB7E;
    color: #000;
    width: 1000px;
    height: 496px;
    text-align: center;
    padding: 97px 164px;
    z-index: 3;
    margin-bottom: 76px;
    border: 2px solid #0E1220;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px #0E1220;
}
.light-green{
    width: 733px;
    height: 544px;
     background-color: #7CBA72;
     position: absolute;
     top: 10px;
     left: 180px;
     z-index: -2;
}
.dark-green{
    width: 733px;
    height: 520px;
    background-color: #247A70;
    position: absolute;
    top: 50px;
    right: 170px;
    z-index:-1;
}
.site-aside{
    background-color: #000;
    align-items: center;
    display: flex;
    padding: 0 220px 50px 220px;
}
.header-ads{
    display:block;
    margin:0 auto;
    transition:ease 0.4s;
}
.header-ads:hover{
    opacity: 0.3;
}
.stats-forecasts{
    background-color: #000;
    padding: 46px 196px 134px 230px;
}
.stats-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 20px;
    color: #7CBA72;
    display: flex;
    align-items: center;
    margin-left: 412px;
    margin-bottom: 135px;
}
.stats-link::after{
    content: "";
    display: inline-block;
    width: 19px;
    height: 21px;
    background-image: url(../img/Vector.png);
    top: 0;
    margin-left: 16px;
    }
    .stats-wrapper{
        display: flex;
        margin-bottom: 131px;
        justify-content: space-between;
    }
    .stats-info{
        width: 320px;
        padding: 7px;
        margin-right: 20px;
    }
    .stats-title{
        font-family: "Roboto","Arial", sans-serif;
        font-weight: bold;
        font-size: 43px;
        line-height: 53px;
        color: #FFFFFF;
    }
    .schedule-info{
        width: 684px;
        padding: 5px 20px;
        margin: auto;
        text-align: center;
        margin-bottom: 24px;
    }
    .schedule-title{
        font-weight: bold;
        font-family: "Roboto","Arial", sans-serif;
        font-size: 44px;
        line-height: 53px;
        text-align: center;
        margin: 0;
        color: #FFFFFF;
    }
    .schedule-img{
        margin-bottom: 68px;
    }
    .schedule-bottom-info{
        display: flex;
        margin-left: 50px;
        margin-bottom: 157px;

    }
    .schedule-bottom__text{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #A9B0BE;
        margin-right: 86px;
        display: flex;
        align-items: center;
    }
    .schedule-bottom__text::before{
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-image: url(../img/Vector\ \(2\).png);
    }
    .empower-info{
        width: 590px;
        text-align: center;
        margin: auto;
        padding:0 10px;
    }
    .empower-wrapper{
        display: flex;
    }
    .empower-left{
        margin-right: 28px;
    }
    .heading{
        font-weight: bold;
        font-size: 44px;
        line-height: 53px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    .empower-info__text{
        margin-bottom: 22px;
    }
    .empower-left__text{
        display: flex;
        align-items: center;
    }
    .empower-left__text::before{
        content:"";
        width: 20px;
        height: 20px;
        background-image: url("../img/Rectangle\ \(9\).png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 16px;
        margin-left: 25px;
    }
    .empower-right__text{
        display: flex;
        align-items: center;
    }
    .empower-right__text::before{
        content:"";
        width: 20px;
        height: 20px;
        background-image: url("../img/Rectangle\ \(10\).png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 16px;
    }
     .empower__wrapper{
         display: flex;
     }
     .empower-unit__title{
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: #FFFFFF
     }
     .empower-footer__unit:not(:last-child){
         margin-right: 80px;
     }
     .empower-footer__unit::before{
         content: "";
         width: 19px;
         height: 12px;
         display: block;
         background-image: url(../img/Vector\ \(2\).png);
         background-size: contain;
         background-repeat: no-repeat;
         margin-bottom: 25px;
     }
     .empower-unit__text a{
           color: green;
     }
     .empower-footer__heading{
         margin-bottom: 77px;
         margin-top: 74px;
     }
     .top-of-link{
         height: 413px;
         border: 2px solid #0E1220;
         box-sizing: border-box;
         box-shadow: 0px 4px 0px #0E1220;
         margin-bottom: 76px;
         margin-top: 164px;
     }
     .bottom-of-link{
         width: 970px;
         padding: 75px 80px 85px;
         background-color: #21ABA8;
         margin-left: 15px;
         margin-top: -77px;
         display: flex;
     }
     .bottom-left{
         width: 330px;
     }
     .left-title{
        font-weight: normal;
        font-size: 52px;
        line-height: 53px;
        color: #0E1220;
       
     }
     .left-text{
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #0E1220;
     }
     form{
         margin-top: auto;
         margin-left: auto;
         margin-bottom: 10px;
     }
     .email{
         border: none;
         background-color: transparent;
         border-bottom: 2px solid #000;
         padding-bottom: 12px;
     }
     .btn{
         font-weight: bold;
         font-size: 17px;
         line-height: 25px;
         text-align: center;
         background-color: transparent;
          border: 2px solid #0E1220;
          color: #000000;
          box-shadow: 0px 4px 0px #0E1220;
          border-radius: 30px; 
          padding: 11px;
          margin-left: 20px;
     }
     .top-of-link__title{
        font-weight: normal;
        font-size: 66px;
        line-height: 80px;
        margin-top:14px;   
        text-align: center;
        color: #0E1220;
        margin-bottom: 31px;
     }